* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  margin: 0 50px;
}

#header {
  min-height: 100vh;
}

#header nav {
  padding-top: 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header nav .logo-menu {
  display: flex;
  align-items: center;
}

#header nav .logo-menu .header__logo {
  cursor: pointer;
  width: 129px;
}

#header nav .logo-menu .header__logo img {
  width: 100%;
}

#header nav .logo-menu .header__links {
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
}

#header nav .logo-menu .header__links a {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

#header nav .header__button button {
  width: 207px;
  height: 47px;
  background: rgba(1, 182, 213, 0.99);
  border-radius: 10px;
  border: none;
  font-weight: 600;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: 1px 1px #000, -1px 1px #000, 1px -1px #000, -1px -1px #000,
    1px 1px 5px #555;
  cursor: pointer;
}

#header .header__preview {
  width: 100%;
  position: relative;
  margin-top: 17px;
}

#header .header__preview .gray {
  width: 80%;
  height: calc(100vh - 64px - 17px);
  background-color: rgba(0, 0, 0, 0.25);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#header .header__preview .gray .descr {
  padding-top: 112px;
  margin-left: 113px;
}

#header .header__preview .gray .descr .gray__title {
  font-weight: 400;
  font-size: 15vw;
  line-height: 300px;
  letter-spacing: -0.05em;
  text-transform: lowercase;
  color: #000000;
}

#header .header__preview .gray .descr .gray__tagline {
  font-weight: 500;
  font-size: 3vw;
  line-height: 55px;
  font-variant: small-caps;
  text-transform: uppercase;
  color: #ffffff;
}

#header .header__preview .gray .descr .gray__slogan {
  margin-top: 40px;
  font-weight: 600;
  font-size: 1.5vw;
  line-height: 30px;
  text-transform: lowercase;
  color: rgba(255, 255, 255, 0.8);
}

#header .header__preview img {
  width: 624px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#main .stories .story {
  margin-top: 111px;
  justify-content: space-between;
  display: flex;
}

#main .stories .story img {
  width: 660px;
}

#main .stories .story .about {
  margin-left: 132px;
}

#main .stories .story .about h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 50px;
  color: #079fd0;
}

#main .stories .story .about .tale {
  margin-top: 40px;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

#main .stories .story .about .more {
  display: inline-block;
  cursor: pointer;
  margin-top: 40px;
  font-weight: 500;
  font-size: 18px;
  line-height: 35px;
  text-transform: uppercase;
  color: #079fd0;
}

#main .cards {
  margin-top: 111px;
  padding-bottom: 63px;
}

#main .cards h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 50px;
  text-align: center;
  color: #079fd0;
}

#main .cards .elements {
  margin-top: 106px;
  display: flex;
  justify-content: space-between;
}

#main .cards .elements .item {
  width: 380px;
}

#main .cards .elements .item img {
  width: 380px;
}

#main .cards .elements .item h4 {
  margin-top: 50px;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #079fd0;
}

#main .cards .elements .item .tale {
  margin-top: 32px;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

#main .cards .elements .item .more {
  display: inline-block;
  cursor: pointer;
  margin-top: 50px;
  font-weight: 500;
  font-size: 18px;
  line-height: 35px;
  text-transform: uppercase;
  color: #079fd0;
}

#footer {
  background-color: #f3f3f3;
}

#footer .footer__info {
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  justify-content: space-between;
}

#footer .footer__info .footer__logo {
  width: 129px;
}

#footer .footer__info .footer__logo img {
  cursor: pointer;
  width: 100%;
}

#footer .footer__info .lists {
  width: 640px;
  display: flex;
  justify-content: space-between;
}

#footer .footer__info .lists .list {
  list-style-type: none;
}

#footer .footer__info .lists .list li {
  cursor: pointer;
  line-height: 40px;
}

#footer .footer__info .copy {
  font-weight: 600;
}
